<div class="container">
  <h1><%= @deck.name %></h1>

  <% @cards.each do |card| %>
    <br>
    <span>Question : </span>
    <%= card.definition %>
    <br><br>
    <span>Answer: </span>
    <%= card.word %>
    <br>
  <% end %>
</div>


