<div class="container">
  <h1>Welcome Sexyshirts Flashcards</h1>
  <p>Please sign up or create an account:</p>

  <form id='sign-in' action='/sign_in' method='post'>
    Sign in: <br>
    email:
    <input type='text' name='signin[email]'>
    password:
    <input type='password' name='signin[password_hash]'>
    <input type'submit' value='sign in'>
  </form>

  <form id='sign-up' action='/sign_up' method='post'>
    Create Account: <br>
    email:
    <input type='text' name='signup[email]'>
    username:
    <input type='text' name='signup[name]'>
    password:
    <input type='password' name='signup[password_hash]'>
    <input type'submit' value='create account'>
  </form>
</div>
