<div class="container">
  <h1>Welcome to Flashcards</h1>
  <p>Please sign up or create an account:</p>

  <form id='sign-in' action='/sign_in' method='post'>
    <h3>Sign in:</h3> 

    <input type='text' name='signin[email]' placeholder='email'><br>

    <input type='password' name='signin[password_hash]' placeholder='password'><br>

    <button type='submit' >sign in</button>
  </form>

  <form id='sign-up' action='/sign_up' method='post'>
    <h3>Create Account:</h3> 

    <input type='text' name='signup[email]' placeholder='email'><br>

    <input type='text' name='signup[name]' placeholder='username'><br>

    <input type='password' name='signup[password_hash]' placeholder='password'><br>

    <button type='submit' >create account</button>
  </form>
</div>
