<h1>Welcome <%= @current_user.name %></h1>

<h2>Here's a list of your decks</h2>
<ul>
  <% @deck.each do |deck| %>
  <a href="/deck/<%= deck.id %>"><li class="deck-item"><%= deck.name %></li></a>
  <% end %>

  <form id='logout' action='/logout' method='post'>
    <button type='submit' >log out</button>
  </form>
</ul>
